<%= form_for(@invoice, :class => "invoice") do |invoice_form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= invoice_form.label :due_date %><br>
    <%= invoice_form.datetime_select :due_date %>
  </div>
  <div class="field">
    <%= invoice_form.label :recipient %><br>
    <%= invoice_form.text_area :recipient %>
  </div>

  <table>
    <tbody data-bind="foreach: lines">
      <tr class="invoice-line">
        <td><a href="#remove" data-bind="click: $parent.removeLine">Remove</a></td>
        <td>
          <input data-bind="
            attr: {
              name: 'invoice[lines_attributes][' + $index() + '][description]',
            }"
            placeholder="Description"
          >
        </td>
        <td>
          <input data-bind="
            textInput: amount,
            attr: {
              name: 'invoice[lines_attributes][' + $index() + '][amount]',
            }"
            placeholder="Amount"
          >
        </td>
        <td>
          <input data-bind="
            textInput: price,
            attr: {
              name: 'invoice[lines_attributes][' + $index() + '][price]',
            }"
            placeholder="Price"
          >
        </td>
        <td data-bind="text: subtotal"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="total">
        <td><a href="#add" data-bind="click: addEmptyLine">Add</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td data-bind="text: total, visible: anyLines"></td>
      </tr>
    </tfoot>
  </table>

  <div class="actions">
    <%= invoice_form.submit(:data => {:bind => "enable: isCreatable"}) %>
  </div>
<% end %>
