<%= form_for(@invoice, :class => "invoice") do |invoice_form| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= invoice_form.label :due_date %><br>
    <%= invoice_form.datetime_select :due_date %>
  </div>
  <div class="field">
    <%= invoice_form.label :recipient %><br>
    <%= invoice_form.text_area :recipient %>
  </div>

  <table>
    <tbody>
      <%= invoice_form.fields_for :lines do |invoice_line_form| %>
        <tr class="invoice-line">
          <td><%= invoice_line_form.text_field :description, :placeholder => "Description" %></td>
          <td><%= invoice_line_form.text_field :amount, :placeholder => "Amount" %></td>
          <td><%= invoice_line_form.text_field :price, :placeholder => "Price" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= invoice_form.submit %>
  </div>
<% end %>
